In [1]:
# 分析时间：2013年1月1日-2022年12月31日，总共10年时间
# 但是在做特征分析的时候，可以把数据拉长。多搞一年：即2012-01-01至2022-12-31
feature_start_date_str = "2011-01-01"
start_date_str = "2012-01-01"
end_date_str = "2022-12-31"

In [2]:
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import QuantLib as ql
%matplotlib inline

plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

In [3]:
feature_start_date = datetime.datetime.strptime(feature_start_date_str, "%Y-%m-%d")
start_date = datetime.datetime.strptime(start_date_str, "%Y-%m-%d")
end_date = datetime.datetime.strptime(end_date_str, "%Y-%m-%d")
print(feature_start_date, start_date, end_date)

2011-01-01 00:00:00 2012-01-01 00:00:00 2022-12-31 00:00:00

In [4]:
# 取出目标数据
# 到期收益率
raw_yield_to_maturity_df = pd.read_excel('./data/国债到期收益率.xlsx')
raw_yield_to_maturity_df = raw_yield_to_maturity_df.rename(columns={'指标名称': 'Date',
       '国债到期收益率:6个月': "6M", '国债到期收益率:1年': "1Y", '国债到期收益率:2年': "2Y", '国债到期收益率:3年': "3Y",
       '国债到期收益率:4年': "4Y", '国债到期收益率:5年': "5Y", '国债到期收益率:6年': "6Y", '国债到期收益率:7年': "7Y", 
        '国债到期收益率:8年': "8Y",'国债到期收益率:9年': "9Y", '国债到期收益率:10年': "10Y", '国债到期收益率:15年': "15Y", 
        '国债到期收益率:20年': "20Y", '国债到期收益率:30年': "30Y"})
raw_yield_to_maturity_df

,Date,6M,1Y,2Y,3Y,4Y,5Y,6Y,7Y,8Y,9Y,10Y,15Y,20Y,30Y
0,2008-07-01,3.2769,3.4474,3.8065,4.0301,4.1697,4.3093,4.3498,4.3903,4.4292,4.4682,4.5072,4.9618,4.9639,4.9498
1,2008-07-02,3.4055,3.5461,3.8015,3.9506,4.0883,4.2260,4.3019,4.3778,4.4282,4.4787,4.5291,4.9442,4.9462,4.9501
2,2008-07-03,3.3343,3.4972,3.8687,3.9820,4.1085,4.2350,4.3163,4.3976,4.4436,4.4896,4.5356,4.9453,4.9469,4.9501
3,2008-07-04,3.3397,3.4763,3.8179,3.9854,4.1031,4.2209,4.3183,4.4157,4.4618,4.5080,4.5542,4.9469,4.9479,4.9501
4,2008-07-07,3.3679,3.4796,3.8138,3.9561,4.0850,4.2140,4.2849,4.3559,4.4215,4.4871,4.5527,4.9226,4.9285,4.9404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667,2023-03-13,2.1958,2.2696,2.4373,2.5289,2.6127,2.6965,2.7655,2.8345,2.8473,2.8600,2.8728,3.0310,3.1147,3.2772
3668,2023-03-14,2.1950,2.2655,2.4475,2.5215,2.6046,2.6877,2.7591,2.8305,2.8417,2.8528,2.8640,3.0196,3.1047,3.2692
3669,2023-03-15,2.2050,2.2638,2.4432,2.5278,2.6121,2.6963,2.7663,2.8363,2.8474,2.8584,2.8695,3.0152,3.1033,3.2700
3670,2023-03-16,2.1799,2.2598,2.4193,2.5182,2.5953,2.6723,2.7483,2.8242,2.8342,2.8441,2.8541,2.9998,3.0857,3.2503
3671,2023-03-17,2.1823,2.2525,2.4123,2.5252,2.6030,2.6808,2.7552,2.8295,2.8399,2.8504,2.8608,3.0065,3.0821,3.2365

In [5]:
# 按特征长度选择数据
yield_to_maturity_df = raw_yield_to_maturity_df[(raw_yield_to_maturity_df['Date']>=feature_start_date)
                                                & (raw_yield_to_maturity_df['Date']<=end_date)].reset_index(drop=True)
yield_to_maturity_df

,Date,6M,1Y,2Y,3Y,4Y,5Y,6Y,7Y,8Y,9Y,10Y,15Y,20Y,30Y
0,2011-01-04,2.9635,3.0310,3.3571,3.3839,3.4591,3.5343,3.6066,3.6790,3.7370,3.7951,3.8531,4.0629,4.1640,4.2839
1,2011-01-05,2.9262,3.0047,3.1834,3.2891,3.3696,3.4500,3.5466,3.6432,3.6993,3.7553,3.8113,4.0108,4.1683,4.2554
2,2011-01-06,2.6401,2.8361,3.1205,3.2438,3.3567,3.4696,3.5691,3.6686,3.7146,3.7607,3.8067,4.0104,4.1645,4.2528
3,2011-01-07,2.6055,2.7599,3.1324,3.3165,3.3916,3.4667,3.5586,3.6505,3.7163,3.7820,3.8478,4.0208,4.1638,4.2649
4,2011-01-10,2.5607,2.7767,3.0750,3.2557,3.3469,3.4381,3.5293,3.6205,3.6891,3.7578,3.8264,4.0104,4.1569,4.2575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,2022-12-26,2.1778,2.2398,2.3669,2.4616,2.5396,2.6175,2.7175,2.8175,2.8249,2.8324,2.8398,2.9777,3.0579,3.2225
2989,2022-12-27,2.2125,2.2615,2.3889,2.4898,2.5777,2.6656,2.7526,2.8395,2.8475,2.8556,2.8636,3.0014,3.0676,3.2182
2990,2022-12-28,2.2398,2.2732,2.4056,2.4746,2.5771,2.6795,2.7595,2.8395,2.8496,2.8598,2.8699,3.0078,3.0679,3.2125
2991,2022-12-29,2.1737,2.1952,2.3605,2.4405,2.5415,2.6425,2.7314,2.8202,2.8255,2.8309,2.8362,2.9741,3.0459,3.2021
2992,2022-12-30,2.0798,2.1316,2.3395,2.4202,2.5279,2.6355,2.7222,2.8088,2.8163,2.8237,2.8312,2.9691,3.0399,3.1951

In [6]:
date_benchmark = yield_to_maturity_df[["Date"]]
date_benchmark

           Date
0    2011-01-04
1    2011-01-05
2    2011-01-06
3    2011-01-07
4    2011-01-10
...         ...
2988 2022-12-26
2989 2022-12-27
2990 2022-12-28
2991 2022-12-29
2992 2022-12-30

[2993 rows x 1 columns]

In [7]:
# 读取所有特征

# 经济增长
economic_growth_df = pd.read_csv("./data/clean_features/features_economic_growth.csv")
economic_growth_df['Date'] = pd.to_datetime(economic_growth_df['Date'])
#economic_growth_df

# 通货膨胀
inflation_df = pd.read_csv("./data/clean_features/features_inflation.csv")
inflation_df['Date'] = pd.to_datetime(inflation_df['Date'])

# 货币与财政政策
monetary_fiscal_df = pd.read_csv("./data/clean_features/features_monetary_fiscal.csv")
monetary_fiscal_df['Date'] = pd.to_datetime(monetary_fiscal_df['Date'])

# 利率传导
interest_rate_transmission_df = pd.read_csv("./data/clean_features/features_interest_rate_transmission.csv")
interest_rate_transmission_df['Date'] = pd.to_datetime(interest_rate_transmission_df['Date'])

# 中国股票市场
stock_market_df = pd.read_csv("./data/clean_features/features_stock_market.csv")
stock_market_df['Date'] = pd.to_datetime(stock_market_df['Date'])

# 国际市场
international_market_df = pd.read_csv("./data/clean_features/features_international_market.csv")
international_market_df['Date'] = pd.to_datetime(international_market_df['Date'])

# 就业
employment_df = pd.read_csv("./data/clean_features/features_employment.csv")
employment_df['Date'] = pd.to_datetime(employment_df['Date'])

In [8]:
result_df = date_benchmark

data_frames = [economic_growth_df, inflation_df, monetary_fiscal_df,
                interest_rate_transmission_df, stock_market_df, international_market_df, employment_df]
for temp in data_frames:
    result_df = result_df.merge(temp, on="Date", how="left")
result_df

,Date,CN_GDP_Current_Price_Cum_YTY,CN_GDP_Constant_Price_Cum_YTY,CN_GDP_Deflator_GDP_Cum_YTY,CN_GDP_Constant_Current_Q,CN_IFA_Cum_MTM,CN_IE_FGI_MTM,CN_PMI_New_Order,CN_PMI_RMP,CN_TRSCG_Cum_MOM,...,LIBORO/N,LIBOR1W,LIBOR1M,LIBOR2M,LIBOR3M,LIBOR6M,LIBOR12M,CN_New_Jobs_Cum,CN_Difficulty_Cum,CN_Reemployed_Cum
0,2011-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24688,0.25438,0.26063,0.2825,0.30281,0.45581,0.78094,NaN,NaN,NaN
1,2011-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24375,0.25438,0.26125,0.2825,0.30281,0.45456,0.78094,NaN,NaN,NaN
2,2011-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24375,0.25438,0.26125,0.2825,0.30313,0.45719,0.78525,NaN,NaN,NaN
3,2011-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45731,0.78550,NaN,NaN,NaN
4,2011-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45706,0.78400,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,2022-12-26,5.73,3.0,3.1439,289504.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2989,2022-12-27,5.73,3.0,3.1439,289504.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2990,2022-12-28,5.73,3.0,3.1439,289504.9,NaN,NaN,NaN,NaN,NaN,...,4.31643,0.07638,4.38357,0.1525,4.72986,5.15114,5.47029,NaN,NaN,NaN
2991,2022-12-29,5.73,3.0,3.1439,289504.9,NaN,NaN,NaN,NaN,NaN,...,4.31186,0.07638,4.36871,0.1525,4.75386,5.13757,5.44257,NaN,NaN,NaN
2992,2022-12-30,5.73,3.0,3.1439,289504.9,NaN,NaN,NaN,NaN,NaN,...,4.31800,0.07638,4.39157,0.1525,4.76729,5.13886,5.48214,NaN,NaN,NaN

In [9]:
result_df.describe().T

,count,mean,std,min,25%,50%,75%,max
CN_GDP_Current_Price_Cum_YTY,2934.0,10.708381,4.664402,-3.25000,8.5700,10.130000,12.570000,20.73000
CN_GDP_Constant_Price_Cum_YTY,2934.0,6.909297,3.596229,-6.90000,6.8000,7.041329,7.863736,18.70000
CN_GDP_Deflator_GDP_Cum_YTY,2934.0,2.891541,2.257033,0.03570,1.0553,2.296800,4.159200,8.74060
CN_GDP_Constant_Current_Q,2934.0,184730.313020,55226.148731,98902.80000,137370.4000,183177.800000,224846.800000,306681.30000
CN_IFA_Cum_MTM,95.0,11.660000,8.150870,-16.10000,6.0000,9.600000,19.750000,25.80000
...,...,...,...,...,...,...,...,...
LIBOR6M,2837.0,1.127287,1.035740,0.14663,0.3830,0.721650,1.607140,5.22529
LIBOR12M,2837.0,1.387278,1.072851,0.21950,0.6376,1.017500,1.873170,5.66643
CN_New_Jobs_Cum,83.0,779.180723,387.969610,86.00000,452.0000,855.000000,1103.000000,1352.00000
CN_Difficulty_Cum,81.0,96.666667,50.586312,12.00000,54.0000,102.000000,137.000000,183.00000
CN_Reemployed_Cum,81.0,305.679012,159.821293,35.00000,163.0000,333.000000,435.000000,567.00000

In [10]:
result_df = result_df.fillna(method='ffill')
result_df

,Date,CN_GDP_Current_Price_Cum_YTY,CN_GDP_Constant_Price_Cum_YTY,CN_GDP_Deflator_GDP_Cum_YTY,CN_GDP_Constant_Current_Q,CN_IFA_Cum_MTM,CN_IE_FGI_MTM,CN_PMI_New_Order,CN_PMI_RMP,CN_TRSCG_Cum_MOM,...,LIBORO/N,LIBOR1W,LIBOR1M,LIBOR2M,LIBOR3M,LIBOR6M,LIBOR12M,CN_New_Jobs_Cum,CN_Difficulty_Cum,CN_Reemployed_Cum
0,2011-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24688,0.25438,0.26063,0.2825,0.30281,0.45581,0.78094,NaN,NaN,NaN
1,2011-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24375,0.25438,0.26125,0.2825,0.30281,0.45456,0.78094,NaN,NaN,NaN
2,2011-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24375,0.25438,0.26125,0.2825,0.30313,0.45719,0.78525,NaN,NaN,NaN
3,2011-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45731,0.78550,NaN,NaN,NaN
4,2011-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45706,0.78400,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,2022-12-26,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2989,2022-12-27,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2990,2022-12-28,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31643,0.07638,4.38357,0.1525,4.72986,5.15114,5.47029,1145.0,163.0,476.0
2991,2022-12-29,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31186,0.07638,4.36871,0.1525,4.75386,5.13757,5.44257,1145.0,163.0,476.0
2992,2022-12-30,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31800,0.07638,4.39157,0.1525,4.76729,5.13886,5.48214,1145.0,163.0,476.0

In [11]:
result_df = result_df.fillna(0)
result_df

,Date,CN_GDP_Current_Price_Cum_YTY,CN_GDP_Constant_Price_Cum_YTY,CN_GDP_Deflator_GDP_Cum_YTY,CN_GDP_Constant_Current_Q,CN_IFA_Cum_MTM,CN_IE_FGI_MTM,CN_PMI_New_Order,CN_PMI_RMP,CN_TRSCG_Cum_MOM,...,LIBORO/N,LIBOR1W,LIBOR1M,LIBOR2M,LIBOR3M,LIBOR6M,LIBOR12M,CN_New_Jobs_Cum,CN_Difficulty_Cum,CN_Reemployed_Cum
0,2011-01-04,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24688,0.25438,0.26063,0.2825,0.30281,0.45581,0.78094,0.0,0.0,0.0
1,2011-01-05,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24375,0.25438,0.26125,0.2825,0.30281,0.45456,0.78094,0.0,0.0,0.0
2,2011-01-06,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24375,0.25438,0.26125,0.2825,0.30313,0.45719,0.78525,0.0,0.0,0.0
3,2011-01-07,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45731,0.78550,0.0,0.0,0.0
4,2011-01-10,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45706,0.78400,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,2022-12-26,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2989,2022-12-27,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2990,2022-12-28,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31643,0.07638,4.38357,0.1525,4.72986,5.15114,5.47029,1145.0,163.0,476.0
2991,2022-12-29,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31186,0.07638,4.36871,0.1525,4.75386,5.13757,5.44257,1145.0,163.0,476.0
2992,2022-12-30,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31800,0.07638,4.39157,0.1525,4.76729,5.13886,5.48214,1145.0,163.0,476.0

In [12]:
result_df.to_csv("./data/clean_features/all_features.csv", index=False, encoding="utf-8-sig")

In [13]:
result_df

,Date,CN_GDP_Current_Price_Cum_YTY,CN_GDP_Constant_Price_Cum_YTY,CN_GDP_Deflator_GDP_Cum_YTY,CN_GDP_Constant_Current_Q,CN_IFA_Cum_MTM,CN_IE_FGI_MTM,CN_PMI_New_Order,CN_PMI_RMP,CN_TRSCG_Cum_MOM,...,LIBORO/N,LIBOR1W,LIBOR1M,LIBOR2M,LIBOR3M,LIBOR6M,LIBOR12M,CN_New_Jobs_Cum,CN_Difficulty_Cum,CN_Reemployed_Cum
0,2011-01-04,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24688,0.25438,0.26063,0.2825,0.30281,0.45581,0.78094,0.0,0.0,0.0
1,2011-01-05,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24375,0.25438,0.26125,0.2825,0.30281,0.45456,0.78094,0.0,0.0,0.0
2,2011-01-06,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24375,0.25438,0.26125,0.2825,0.30313,0.45719,0.78525,0.0,0.0,0.0
3,2011-01-07,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45731,0.78550,0.0,0.0,0.0
4,2011-01-10,0.00,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.24125,0.25438,0.26125,0.2825,0.30313,0.45706,0.78400,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,2022-12-26,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2989,2022-12-27,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31671,0.07638,4.38686,0.1525,4.72643,5.15314,5.44386,1145.0,163.0,476.0
2990,2022-12-28,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31643,0.07638,4.38357,0.1525,4.72986,5.15114,5.47029,1145.0,163.0,476.0
2991,2022-12-29,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31186,0.07638,4.36871,0.1525,4.75386,5.13757,5.44257,1145.0,163.0,476.0
2992,2022-12-30,5.73,3.0,3.1439,289504.9,5.3,11.4,46.4,50.7,-0.1,...,4.31800,0.07638,4.39157,0.1525,4.76729,5.13886,5.48214,1145.0,163.0,476.0